.progressRoot {
    position: relative;
}

.progressVisualFull {
    display: flex;
    height: 20px;
    margin: 20px 0;
    width: 100%; 
    border-radius: 12px;
    overflow: hidden;
}
  
.progressVisualPart {
    /* Number of the seconds for complete animation */
    transition: width 2s;
}
  
.progressVisualPart:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.progressVisualLine {
    top: 16px;
    width: 6px;
    height: 28px;
    border-radius: 6px;
    opacity: 0.5;
    transition: opacity 0.6s;
}

.progressVisualLine:hover {
    opacity: 1;
}

.partContent {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
    padding: 1px 6px; 
}